<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Teady</title>
    <script src="scripts/jquery-1.8.2.min.js"></script>
    <script src="scripts/jsclr.min.js"></script>
    <script src="scripts/DisruptoLib.js"></script>
    <script src="scripts/CoOpTDClient.js"></script>
    <script>
        Compile();
        $(DefaultClient_Load);
    </script>
</head>
    <body>
        <button onclick="btnTest_click(event);">Click me</button>

        <script type="text/javascript">
            /* onload */
        </script>
    </body>
</html>